
<bean id="commonSequenceManager" class="com.yonghui.wms.idgen.service.CommonSequenceManager"/>
<bean id="commonSequenceDao" class="com.yonghui.wms.idgen.dao.CommonSequenceDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgManager" class="com.yh.infra.test.service.InstanceFilterParamCfgManager"/>
<bean id="instanceFilterParamCfgDao" class="com.yh.infra.test.dao.InstanceFilterParamCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgManager" class="com.yh.infra.test.service.InstanceFilterCfgManager"/>
<bean id="instanceFilterCfgDao" class="com.yh.infra.test.dao.InstanceFilterCfgDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoManager" class="com.yh.infra.test.service.FilterParamInfoManager"/>
<bean id="filterParamInfoDao" class="com.yh.infra.test.dao.FilterParamInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoManager" class="com.yh.infra.test.service.FilterInfoManager"/>
<bean id="filterInfoDao" class="com.yh.infra.test.dao.FilterInfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgPOManager" class="com.yh.infra.test.service.InstanceFilterParamCfgPOManager"/>
<bean id="instanceFilterParamCfgPODao" class="com.yh.infra.test.dao.InstanceFilterParamCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgPOManager" class="com.yh.infra.test.service.InstanceFilterParamCfgPOManager"/>
<bean id="instanceFilterParamCfgPODao" class="com.yh.infra.test.dao.InstanceFilterParamCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgPOManager" class="com.yh.infra.test.service.InstanceFilterParamCfgPOManager"/>
<bean id="instanceFilterParamCfgPODao" class="com.yh.infra.test.dao.InstanceFilterParamCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterParamCfgPOManager" class="com.yh.infra.test.service.InstanceFilterParamCfgPOManager"/>
<bean id="instanceFilterParamCfgPODao" class="com.yh.infra.test.dao.InstanceFilterParamCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgPOManager" class="com.yh.infra.test.service.InstanceFilterCfgPOManager"/>
<bean id="instanceFilterCfgPODao" class="com.yh.infra.test.dao.InstanceFilterCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgPOManager" class="com.yh.infra.test.service.InstanceFilterCfgPOManager"/>
<bean id="instanceFilterCfgPODao" class="com.yh.infra.test.dao.InstanceFilterCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="instanceFilterCfgPOManager" class="com.yh.infra.test.service.InstanceFilterCfgPOManager"/>
<bean id="instanceFilterCfgPODao" class="com.yh.infra.test.dao.InstanceFilterCfgPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoPOManager" class="com.yh.infra.test.service.FilterParamInfoPOManager"/>
<bean id="filterParamInfoPODao" class="com.yh.infra.test.dao.FilterParamInfoPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterParamInfoPOManager" class="com.yh.infra.test.service.FilterParamInfoPOManager"/>
<bean id="filterParamInfoPODao" class="com.yh.infra.test.dao.FilterParamInfoPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="filterInfoPOManager" class="com.yh.infra.test.service.FilterInfoPOManager"/>
<bean id="filterInfoPODao" class="com.yh.infra.test.dao.FilterInfoPODao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="asnManager" class="com.yh.infra.svcgov.baseservice.notice.service.AsnManager"/>
<bean id="asnDao" class="com.yh.infra.svcgov.baseservice.notice.dao.AsnDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="orderManager" class="com.yh.infra.svcgov.baseservice.notice.service.OrderManager"/>
<bean id="orderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.OrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="dictionaryManager" class="com.yh.infra.svcgov.baseservice.notice.service.DictionaryManager"/>
<bean id="dictionaryDao" class="com.yh.infra.svcgov.baseservice.notice.dao.DictionaryDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="salesOrderManager" class="com.yh.infra.svcgov.baseservice.notice.service.SalesOrderManager"/>
<bean id="salesOrderDao" class="com.yh.infra.svcgov.baseservice.notice.dao.SalesOrderDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="shopManager" class="com.yh.infra.svcgov.baseservice.notice.service.ShopManager"/>
<bean id="shopDao" class="com.yh.infra.svcgov.baseservice.notice.dao.ShopDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.CommonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.CommonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="commonUserManager" class="com.yh.infra.svcgov.cus.service.commonUserManager"/>
<bean id="commonUserDao" class="com.yh.infra.svcgov.cus.dao.commonUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="passRuleConfigManager" class="com.yh.infra.svcgov.cus.service.PassRuleConfigManager"/>
<bean id="passRuleConfigDao" class="com.yh.infra.svcgov.cus.dao.PassRuleConfigDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="passRuleConfigManager" class="com.yh.infra.svcgov.cus.service.PassRuleConfigManager"/>
<bean id="passRuleConfigDao" class="com.yh.infra.svcgov.cus.dao.PassRuleConfigDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

<bean id="passRuleConfigManager" class="com.yh.infra.svcgov.cus.service.PassRuleConfigManager"/>
<bean id="passRuleConfigDao" class="com.yh.infra.svcgov.cus.dao.PassRuleConfigDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

<bean id="commonSequenceManager" class="com.yonghui.wms.idgen.service.CommonSequenceManager"/>
<bean id="commonSequenceDao" class="com.yonghui.wms.idgen.dao.CommonSequenceDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

